.food-icon {
  width: 45px;
  height: 45px;
}

.food-title {
  color: rgb(126, 123, 123);
  font-size: 15px;
  font-weight: 600;
  margin: 6px;
}

.food-price {
  font-size: 14px;
  font-weight: 600;
  margin: 6px;
}

.food-quantity {
  font-size: 14px;
  font-weight: 600;
  margin: 6px;
}

.food-total-price {
  font-size: 16px;
  font-weight: 600;
  margin: 6px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
}

.add-button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(46, 49, 45);
  color: #fff;
  font-weight: 800;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 6px;
}

.remove-button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(238, 65, 108);
  color: #fff;
  font-weight: 800;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 6px;
}
