.footer-container {
  background: rgb(255, 244, 223);
  border-radius: 15px;
}

.footer-container .copyright-author,
.footer-container .credits {
  font-size: 14px;
  font-weight: 500;
}

.footer-container .credits a {
  text-decoration: none;
  color: rgb(92, 87, 82);
}
